.default {
  color: #333;
  font-size: 10px;
  padding: 5px 4px 6px 10px;
  white-space: nowrap;
  position: relative;
  &:after {
    content: '';
    bottom: 0;
    left: 33px;
    right: 5px;
    width: auto;
    border-bottom: 1px solid #DDD;
    position: absolute;
  }
  &:last-child:after {
    display: none;
  }
}

.iconContainer {
  margin-right: 0.5em;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
}

.title {
  display: block;
  vertical-align: bottom;
  font-size: 10px;
  padding-top: 2px;
  color: #666;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  cursor: default;
}

.fileDetails {
  display: block;
  opacity: 0.6;
  font-size: 0.6em;
}

.fileInformation {
  display: inline-block;
}

.isAdded {
  composes: default;
  color: #20B048;
}
.isDeleted {
  composes: default;
  color: #999999;
}
.isModified {
  composes: default;
  color: #D68806;
}
.isRenamed {
  composes: default;
  color: #D68806;
}
.isUntracked {
  composes: default;
  color: #2048B0;
}
