.default {
  color: #333;
  font-size: 14px;
  padding: 0.5em 0.5em 0.6em;
  border-bottom: 1px solid #CCCCCC;
}

.title {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0.8em;
  margin-left: 0.5em;
  color: #666;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  cursor: default;

}

.isAdded {
  composes: default;
  color: #20B048;
}
.isDeleted {
  composes: default;
  color: #999999;
}
.isModified {
  composes: default;
  color: #D68806;
}
.isRenamed {
  composes: default;
  color: #D68806;
}
.isUntracked {
  composes: default;
  color: #2048B0;
}
